    <div class="panel panel-primary login-form" ng-controller="loginCtrl" >
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12" >
          	<img id="logo" align = left src="../assets/image/logo.png" height="42" width="42" style="float: center;"/>
          <h4 class="text-center" >
				FIU AlertSandBox
		  </h4>
		  <br><br />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <form class="form-horizontal" name="form">
              <div class="form-group">
                <label class="col-md-2 control-lable">UserEmail</label>
                <div class="col-md-10">
                  <input type="email" class="form-control" placeholder="Please enter your email address" ng-model="userInfo.email" name="email" required>
                  <span ng-show="form.email.$error.required">Email required</span>
                  <br/>
                  <span ng-show="form.email.$error.email">Email format is wrong</span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-lable">Password</label>
                <div class="col-md-10">
                  <input type="password" class="form-control" placeholder="Only letters, Numbers, underscores, and cannot begin with Numbers" ng-model="userInfo.password" required>
                  <div class="form-group">
						<div class="checkbox col-md-offset-0">
							<br><br/>
                  			<label>
								<input type="checkbox" ng-model="userInfo.remember">  Remember me
				 			 </label>
				 		</div>
              	  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                  <a ui-sref="booklist({bookType:0})" class="btn btn-success" ng-disabled="form.$invalid">Login</a>
                  <button class="btn btn-default" ng-click="setFormData()" ng-disabled="form.$invalid">
                    Register
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
 