img {
margin-left: 5px;
height: 50px;
width: 50px; 
//border-radius: 100%;
border: 2px solid black
text-align: center;
}
h1 {
  font-size: 2.2em;
  color: #777;
  margin-bottom: 0;
  text-align: center;

}
h2 {
  font-size: 10em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 80px;
  text-decoration: none;
  margin-top: 40px;
  list-style-position: center;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  vertical-align: text-top;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}
