
<!-- header od table -->
                    <div class="row">
                      <div class="col-1-5">
                        <div class="tile-stats">
                          <div class="count" align="center">175</div>
                          <h3>Today's Accumulated Alerts</h3>
                        </div>
                      </div>
                      <div class="col-1-5">
                        <div class="tile-stats">
                          <div class="count" align="center">150</div>
                          <h3>Average Daily Alerts</h3>
                        </div>
                      </div>
                      <div class="col-1-5">
                        <div class="tile-stats">
                          <div class="count" align="center">17 Day(s)</div>
                          <h3>Average Age of Open Alerts</h3>
                        </div>
                      </div>
                      <div class="col-1-5">
                        <div class="tile-stats">
                          <div class="count" align="center">215</div>
                          <h3>Suppressed Alerts</h3>
                        </div>
                      </div>
                      <div class="col-1-5">
                        <div class="tile-stats">
                          <div class="count" align="center">10.6%</div>

                          <h3>Optional KPI</h3>
                        </div>
                      </div>
                    </div> 


 <!-- smart table -->
